= render 'meetings/meeting_for_planner', reservation: reservation do 
  .col-md-2.d-flex.align-items-center.justify-content-center
    = link_to 'Contact', "mailto:#{reservation.client.email}", class: "btn btn-primary"
