= render 'meetings/meeting_for_client', meeting: meeting do 
  .col-md-2.d-flex.align-items-center.justify-content-center
    = button_to "予約", meeting_path(meeting), method: :put, class: "btn btn-primary"
