= render 'meetings/meeting_for_planner', reservation: reservation do 
  .col-md-2.d-flex.align-items-center.justify-content-center
    = button_to 'Contact', '#', method: :post, class: "btn btn-primary"
