.simple-calendar
  .calendar-heading.text-center.mb-3
    .d-flex.justify-content-center
      nav.d-flex.justify-content-between[style="max-width: 400px; width: 100%;"]
        = link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: 'btn btn-secondary mx-1 w-100'
        = link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: 'btn btn-primary mx-5 w-100'
        = link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: 'btn btn-secondary mx-1 w-100'
  table.table.table-bordered.table-striped.text-center
    thead
      tr
        th[style="width: 14.285%;"]
          | 時間
        - date_range.slice(0, 6).each_with_index do |day, index|
          th[style="width: 14.285%;"]
            = t('date.abbr_day_names')[day.wday]
            br
            = l(day, format: :short)
    tbody
      - (10..17).each do |hour|
        - ['00', '30'].each do |minute|
          tr
            - # 左端の時間列に時間範囲を表示
            td
              = "#{hour.to_s.rjust(2, '0')}:#{minute}〜#{hour.to_s.rjust(2, '0')}:#{minute == '00' ? '30' : '00'}"
            - date_range.slice(0, 6).each_with_index do |day, index|
              = content_tag :td, class: "text-center align-middle #{'bg-warning' if day == Date.today}" do
                - # ダミーのハイフンをリンク付きで大きく表示
                = link_to "-", "#", style: "font-size: 24px; font-weight: bold; text-decoration: none;"
  .text-center.mt-3
    = link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view, class: 'btn btn-primary'
